<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAoe2nhB5nwo3UEpBK2KHUfV7Fj82laUI</string>
	<key>GCM_SENDER_ID</key>
	<string>762255622193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocArch</string>
	<key>PROJECT_ID</key>
	<string>tech-test-task-managment</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-test-task-managment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762255622193:ios:94bc0a1596a65e95769510</string>
</dict>
</plist>